@model Event_Tree_Website.ViewModels.PersonalEventViewModel

<div class="bodyyy fix-width scroll-inner" style="margin-top: 50px; padding: 0.5cm;">
    <div class="body__mainTitle d-flex justify-content-between align-items-center">
        <h2>THÊM MỚI SỰ KIỆN CÁ NHÂN</h2>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create" asp-controller="PersonalEvent" method="post" enctype="multipart/form-data">


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Personals.Name" class="control-label"></label>
                    <input asp-for="Personals.Name" class="form-control" required />
                    <span asp-validation-for="Personals.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Personals.DateTime" class="control-label"></label>
                    <input asp-for="Personals.DateTime" class="form-control" required min="0" />
                    <span asp-validation-for="Personals.DateTime" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Personals.Description" class="control-label"></label>
                    <input asp-for="Personals.Description" class="form-control" required />
                    <span asp-validation-for="Personals.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Personals.Detail" class="control-label"></label>
                    <input asp-for="Personals.Detail" class="form-control" required />
                    <span asp-validation-for="Personals.Detail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="ImageCode">Images</label>
                    <input type="file" name="files" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Personals.Link" class="control-label"></label>
                    <input asp-for="Personals.Link" class="form-control" required />
                    <span asp-validation-for="Personals.Link" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        document.querySelector('form').addEventListener('submit', function () {
            var currentTime = new Date().toISOString();
            document.querySelector('input[name="Events.CreatedAt"]').value = currentTime;
            document.querySelector('input[name="Events.UpdatedAt"]').value = currentTime;
            document.querySelector('input[name="Events.DeletedAt"]').value = currentTime;
        });
    </script>
}
