@model Event_Tree_Website.ViewModels.PersonalEventViewModel

<div class="bodyyy fix-width scroll-inner" style="margin-top: 50px; padding: 0.5cm;">

    <div class="body__mainTitle d-flex justify-content-between align-items-center">
        <h2>CHỈNH SỮA SỰ KIỆN CÁ NHÂN</h2>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Personals.Name" class="control-label">TÊN SỰ KIỆN</label>
                    <input asp-for="Personals.Name" class="form-control" required />
                    <span asp-validation-for="Personals.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Personals.DateTime" class="control-label">THỜI GIAN SỰ KIỆN</label>
                    <input asp-for="Personals.DateTime" class="form-control" required min="0" />
                    <span asp-validation-for="Personals.DateTime" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Personals.Description" class="control-label">MÔ TẢ</label>
                    <input asp-for="Personals.Description" class="form-control" required />
                    <span asp-validation-for="Personals.Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Personals.Detail" class="control-label">CHI TIẾT</label>
                    <input asp-for="Personals.Detail" class="form-control" required />
                    <span asp-validation-for="Personals.Detail" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Personals.ImageCode" class="control-label">HÌNH ẢNH</label>
                    <input name="files" class="form-control" type="file" id="fileInput" multiple />
                    <div id="preview"></div>
                    @* <input type="text" id="imgFileName" class="form-control" value="@Model.Events.ImageCode" readonly /> *@
                    <div class="border p-2">
                        @foreach (var image in Model.Images)
                        {
                            <img src="@image.Url" alt="Hình ảnh" style="max-width: 100px; max-height: 100px;" readonly />
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Personals.Link" class="control-label">Link</label>
                    <input asp-for="Personals.Link" class="form-control" required />
                    <span asp-validation-for="Personals.Link" class="text-danger"></span>
                </div>
            @*     <div class="form-group">
                    <label asp-for="Personals.Hide" class="control-label">TRẠNG THÁI</label>
                    <select asp-for="Personals.Hide" class="form-control" asp-items="@Model.HideOptions">
                        <option>Please select one</option>
                    </select>
                    <span asp-validation-for="Personals.Hide" class="text-danger"></span>
                </div> *@


                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#fileInput').on('change', function () {
            $('#preview').html('');
            var files = $(this)[0].files;

            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#preview').append('<img src="' + e.target.result + '" class="img-thumbnail mr-2" width="150">');
                }

                reader.readAsDataURL(file);
            }
        });
    });
    function previewImage() {
        var preview = document.querySelector('#imagePreview');
        var file = document.querySelector('#imageUpload').files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
    }
</script>
