@model Event_Tree_Website.ViewModels.UserViewModel

<div id="viewUserInfo">
    <div class="body" style="padding-top: 30px; margin-top: 50px;">
        <h1>Đổi mật khẩu</h1>
        <form asp-action="SavePassword" method="post">
            <div class="form-group">
                <label asp-for="Register.Password">Mật khẩu mới:</label>
                <input type="password" class="form-control" id="Password" name="Register.Password" asp-for="Register.Password" required
                       placeholder="Nhập mật khẩu mới"
                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                       title="Mật khẩu phải có ít nhất 8 ký tự, bao gồm ít nhất một chữ số, một chữ thường và một chữ hoa." />
                <span asp-validation-for="Register.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Nhập lại mật khẩu mới:</label>
                <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required
                       placeholder="Nhập lại mật khẩu"
                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                       title="Mật khẩu phải có ít nhất 8 ký tự, bao gồm ít nhất một chữ số, một chữ thường và một chữ hoa."
                       oninput="checkPasswordMatch(this);" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary"> Hủy</a>

        </form>
    </div>
</div>
<script>
    function checkPasswordMatch(input) {
        var passwordInput = document.getElementById('Password');
        var confirmPasswordInput = input;
        if (passwordInput.value !== confirmPasswordInput.value) {
            confirmPasswordInput.setCustomValidity('Mật khẩu không khớp');
        } else {
            confirmPasswordInput.setCustomValidity('');
        }
    }
</script>
