
@model Event_Tree_Website.ViewModels.EventManagementViewModel

<div class="body fix-width scroll-inner" style="margin-top: 50px;">

    <div class="body__mainTitle d-flex justify-content-between align-items-center">
        <h2>Tạo sự kiện mới </h2>
    </div>

    <div class="row">
        <div class="col-md-10">
            <form asp-action="Create" asp-controller="EventManagement" method="post" enctype="multipart/form-data">


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Events.Name" class="control-label"></label>
                    <input asp-for="Events.Name" class="form-control" required />
                    <span asp-validation-for="Events.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Events.DateTime" class="control-label"></label>
                    <input asp-for="Events.DateTime" class="form-control" required min="0" />
                    <span asp-validation-for="Events.DateTime" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Events.Description" class="control-label"></label>
                    <input asp-for="Events.Description" class="form-control" required />
                    <span asp-validation-for="Events.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Events.Detail" class="control-label"></label>
                    <input asp-for="Events.Detail" class="form-control" required />
                    <span asp-validation-for="Events.Detail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="ImageCode">Images</label>
                    <input type="file" name="files" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Events.Link" class="control-label"></label>
                    <input asp-for="Events.Link" class="form-control" required />
                    <span asp-validation-for="Events.Link" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Events.Status" class="control-label"></label>
                    <input asp-for="Events.Status" class="form-control" required min="0" />
                    <span asp-validation-for="Events.Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Events.IdCategory" class="control-label"></label>
                    <select asp-for="Events.IdCategory" class="form-control" asp-items="ViewBag.IdCategory"></select>
                </div>


                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        document.querySelector('form').addEventListener('submit', function () {
            var currentTime = new Date().toISOString();
            document.querySelector('input[name="Events.CreatedAt"]').value = currentTime;
            document.querySelector('input[name="Events.UpdatedAt"]').value = currentTime;
            document.querySelector('input[name="Events.DeletedAt"]').value = currentTime;
        });
    </script>
}
